[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    recent-branches = for-each-ref --sort=-committerdate refs/heads/
[color]
	ui = true
[user]
	name = tarnacious
	email = tarn@tarnbarford.net
[push]
	default = simple
[core]
	excludesfile = /home/dev/.gitignore.global
